<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="visuotech.com.kampus.attendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Act_splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Act_Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Student.Student_Act_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Student.Student_Act_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Administrator_Act_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Director.Director_Act_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Hod.HOD_Act_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Faculty.Faculty_Act_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_add_director"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_add_Hod"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_add_faculty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_add_student"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Act_College_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_director_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_hod_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_faculty_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_Director_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_Hod_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_faculty_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_course_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_department_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Director.Act_add_Hod2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Director.Act_hod_list2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Director.Act_faculty_list2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Director.Act_add_faculty2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Director.Act_director_profile2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Hod.Act_faculty_list3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Hod.Act_hod_profile2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Administrator.Act_student_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Hod.Act_add_timetable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Hod.Act_student_list3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Director.Act_student_list2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Director.Act_add_student2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Faculty.Act_student_list4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Faculty.Act_add_assignment"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.Faculty.Act_add_studymaterials" />
        <activity android:name=".Activities.Faculty.Act_assignment_list" />
        <activity android:name=".Activities.Faculty.Act_study_list"></activity>
    </application>

</manifest>